

.container{
  position: relative;
  padding: 20px 50px;
}

.back-top{
  background-image: url('../../../assets/buildings-city-urban-architecture-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position:relative;
  overflow: hidden;
  opacity: 0.85;
}

.search{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* .repositories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.repo{
  background-color:rgba(232, 253, 255, 0.705);
  color: black;
  margin-bottom: 2%;
  border-radius: 4px; 
  box-shadow: 3px 3px 5px black;
} */

.input{
  width: 450px;
  border: 3px solid #fff;
  background: transparent;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  outline: none;
}

.close-btn{
  position: absolute;
  top: 3px;
  right: 2px;
  cursor: pointer;
  width: 120px;
  height: 50px;
  background: palevioletred;
  color: white;
  border-radius: 50px;
  text-transform: uppercase; 
  font-weight: bold;
  outline: none;
}

button{
  cursor: pointer;
}

button:active{
  transform: scale(0.95);
}

input:focus, button:focus{
  outline: none;
}
