*{
  font-family: 'Noto Serif', serif;
}

.container-header{
  background-image: url('../../../assets/be6601b9b2bdd7853f47a05e703efe7f-1024x768.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  opacity: 0.8;
}

.show-form{
  text-align: center;
  margin-top: 120px;
}

.badge{
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
}

.card-header{
  text-align: center;
  font-weight: bold;
}

.card{
  margin-top: 30px;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0,0.6);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.wrapper .input {
  width: 85%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.searchbtn {
    background: #ffec00;
    width: 15%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
