<div class="container">
  <div>
    <button  class="btn btn-dark text-center">Search By User</button>
    <button  class="btn btn-dark text-center">Search By Repo</button>
  </div>
  <div class="container">
    <div class="search">
      <form>
        <input type="text" class="input" placeholder="Enter UserName" name="searchUser">
        <button class="close-btn" type="submit">Search</button>
      </form>
    </div> 
  </div>
  <div class="container">
    <div class="search">
      <form>
        <input type="text" class="input" placeholder="Enter Name of Repository" name="searchUser">
        <button class="close-btn" type="submit">Search</button>
      </form>
    </div> 
  </div>
</div>
